<ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-end">
      <ion-menu-button></ion-menu-button>
      <ion-title>Sell</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content> </ion-content>
