<ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-end">
      <ion-buttons>
        <ion-button (click)="navigateBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Add Products</ion-title>
      <ion-button (click)="saveProducts()">Save</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <form [formGroup]="addProductsForm">
        <ng-container
          formArrayName="products"
          *ngFor="
            let product of addProductsForm.get('products')['controls'];
            let i = index
          "
        >
          <ion-row [formGroupName]="i">
            <ion-col>
              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  type="text"
                  placeholder="Product Name"
                  formControlName="product_name"
                />
                <mat-label>Product Name</mat-label>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  placeholder="Product Category"
                  formControlName="category"
                />
                <mat-label>Product Category</mat-label>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Tax Group" formControlName="tax_group" />
                <mat-label>Tax Group</mat-label>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Price" formControlName="price" />
                <mat-label>Price</mat-label>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <button mat-icon-button (click)="removeProduct(addProductsForm.controls.products,i)">
                <mat-icon>delete</mat-icon>
              </button>
            </ion-col>
            <!-- <ion-button>
              <ion-icon name="trash"></ion-icon>
            </ion-button> -->
          </ion-row>
        </ng-container>
      </form>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="addProduct()">
            Add Product
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>
