<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <p>
      <mat-toolbar color="primary" class="mat-elevation-z2">
        POS System
      </mat-toolbar>
    </p>
    <mat-selection-list [multiple]="false">
      <mat-list-option [routerLink]="['/dashboard']">
        <p>
          <mat-icon>home</mat-icon>
          Dashboard
        </p>
      </mat-list-option>
      <mat-list-option [routerLink]="['/customer']">
        <p>
          <mat-icon>person</mat-icon>
          Customers
        </p>
      </mat-list-option>
      <mat-list-option [routerLink]="['/product']">
        <p>
          <mat-icon>sell</mat-icon>
          Products
        </p>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title> POS System </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item
            routerLink="/dashboard"
            lines="none"
            routerLinkActive="active"
          >
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <ion-item routerLink="/sell" lines="none" routerLinkActive="active">
            <ion-icon slot="start" name="cart-outline"></ion-icon>
            <ion-label>Sell</ion-label>
          </ion-item>

          <ion-item
            routerLink="/customer"
            lines="none"
            routerLinkActive="active"
          >
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>Customers</ion-label>
          </ion-item>

          <ion-item
            routerLink="/product"
            lines="none"
            routerLinkActive="active"
          >
            <ion-icon slot="start" name="pricetag-outline"></ion-icon>
            <ion-label>Products</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-item routerLink="/setup" routerLinkActive="active" lines="full">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Setup</ion-label>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
