<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-menu-button></ion-menu-button>
      <ion-title>Dashboard</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background"> Hello User! </ion-content>
