<!-- <mat-drawer-container
  class="example-container"
>
  <mat-drawer #drawer mode="side" color="primary">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <p>
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <div></div>
  </mat-drawer-content>
</mat-drawer-container> -->

<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content
    ><p>
      <mat-toolbar> </mat-toolbar></p
  ></mat-drawer-content>
</mat-drawer-container> -->
